.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
tfplan.*
plan_*.txt
apply_*.txt
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.idea/
.vscode/
.DS_Store
*.swp
secrets.yaml
!secrets.enc.yaml

# rapports SAST
*.sarif
